@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        <img src="~/images/logo.png" alt="CowPress Logo" width="400" />
    </h1>
    <p>Next generation Blogging Platform.</p>
</div>